<!-- <form style="width: 15%; margin:auto; margin-top: 20%;">
    <h3 nz-typography style="margin-left: 20%;"><strong>Регистрация</strong></h3>
    <nz-input-group  [nzPrefix]="prefixTemplateUser">
      <input type="text" nz-input placeholder="ФИО"/>
    </nz-input-group>
    <ng-template #prefixTemplateUser><span nz-icon nzType="user"></span></ng-template>
    <br>
    <nz-input-group [nzPrefix]="prefixTemplatePhone" style="margin-top: 2%;">
      <input type="text" nz-input placeholder="Номер телефона" />
    </nz-input-group>
    <ng-template #prefixTemplatePhone><span nz-icon nzType="phone"></span></ng-template>
    <br>
    <nz-input-group [nzPrefix]="prefixTemplateMail" style="margin-top: 2%;">
        <input type="text" nz-input placeholder="Адрес электронной почты" />
    </nz-input-group>
    <ng-template #prefixTemplateMail><span nz-icon nzType="mail"></span></ng-template>
    <br>
    <nz-input-group [nzPrefix]="prefixTemplateLogin" style="margin-top: 2%;">
        <input type="text" nz-input placeholder="Логин" />
    </nz-input-group>
    <ng-template #prefixTemplateLogin><span nz-icon nzType="login"></span></ng-template>
    <br>
    <nz-input-group [nzPrefix]="prefixTemplateLock" style="margin-top: 2%;">
        <input type="password" nz-input placeholder="Пароль" />
      </nz-input-group>
      <ng-template #prefixTemplateLock><span nz-icon nzType="lock"></span></ng-template>
      <br>
    <button nz-button nzType="primary" nzShape="round" style="margin-top: 5%; margin-left: 23%; width: 55%;">
      Зарегестрироваться
    </button>
    <br>
  <a [routerLink]="['/login']" style="margin-left: 20%;">Уже есть аккаунт? Войдите!</a>
  </form>
<router-outlet></router-outlet> -->
