<ng-container *ngIf="orderList$ | async as orderList">
  <ng-container *ngIf="orderList.length > 0; else empty">
    <nz-table #basicTable [nzData]="orderList" >
      <thead>
        <tr>
          <th>Номер заказа</th>
          <th nzAlign="center">Статус</th>
          <th nzAlign="center">Описание</th>
          <th nzAlign="center">Адрес доставки</th>
          <th nzAlign="right">Цена</th>
        </tr>
      </thead>
      <ng-container *ngFor="let data of basicTable.data">
        <tbody>
          <tr>
            <td>{{ data.id }}</td>
            <td nzAlign="center">
              <div [ngSwitch]="data.status">
                <div *ngSwitchCase="statusEnum['Awaiting']">В ожидании</div>
                <div *ngSwitchCase="statusEnum['InProcess']">В обработка</div>
                <div *ngSwitchCase="statusEnum['Delivering']">В пути</div>
              </div>
            </td>
            <td nzAlign="center">{{ data.description }}</td>
            <td nzAlign="center">{{ data.addressTo }}</td>
            <td nzAlign="right">{{ data.items[0].price }} р.</td>
          </tr>
        </tbody>
      </ng-container>
    </nz-table>
  </ng-container>
  <ng-template #empty>
    <nz-empty nzNotFoundImage="simple" nzNotFoundContent=""></nz-empty>
  </ng-template>
</ng-container>
