<div class="form-wrapper">
  <h3 nz-typography>Вход</h3>

  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="userLoginForm"
    (ngSubmit)="userLogin()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Выберете роль!">
        <nz-input-group>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Выберете роль"
            formControlName="role"
          >
            <nz-option nzLabel="Заказчик" nzValue="Customer"></nz-option>
            <nz-option nzLabel="Администратор" nzValue="Admin"></nz-option>
            <nz-option nzLabel="Менеджер" nzValue="Manager"></nz-option>
            <nz-option nzLabel="Сотрудник" nzValue="Worker"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Введите ваш логин!">
        <nz-input-group>
          <input
            formControlName="name"
            nz-input
            type="text"
            placeholder="Ведите логин"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Введите ваш пароль">
        <nz-input-group>
          <input
            formControlName="password"
            nz-input
            type="password"
            autocomplete="new-password"
            placeholder="Ведите пароль"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!userLoginForm.valid">
          Войти
        </button>
        <button
          style="margin-top: 10px"
          routerLink="../reg"
          nz-button
          nzType="link"
        >
          Регистрация
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
