<div class="wrapper">
  <ng-container *ngIf="inSystem$ | async as inSystem; else logout">
    {{ inSystem | json }}

    <button
      nz-button
      nzType="link"
      *ngIf="
        inSystem.role == 'Worker' ||
        inSystem.role == 'Manager' ||
        inSystem.role == 'Admin'
      "
    >
      <a routerLink="Worker">
        <span nz-icon nzType="user" nzTheme="outline"></span>
      </a>
    </button>

    <button
      nz-button
      nzType="link"
      routerLink="cart-list"
      *ngIf="inSystem.role == 'Customer'"
    >
      <ng-container *ngIf="productFromStore$ | async as productList">
        <nz-badge
          [nzCount]="productList.length"
          nzSize="small"
          [nzOffset]="[3, -5]"
        >
          <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
          Корзина
        </nz-badge>
      </ng-container>
    </button>

    |
    <button nz-button nzType="link" (click)="logOut()">Выход</button>
  </ng-container>

  <ng-template #logout>
    <button nz-button nzType="link" routerLink="authorization/auth">
      Вход
    </button>
    |
    <button nz-button nzType="link" routerLink="authorization/reg">
      Регистрация
    </button>
  </ng-template>
</div>
