<ng-container *ngIf="productList$ | async as productList">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Категории</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ category }}</nz-breadcrumb-item>
  </nz-breadcrumb>

  <div nz-row>
    <div class="wrap-item" nz-col nzSpan="6" *ngFor="let item of productList">
      <div class="item" *ngIf="item.count > 0">
        <div class="item-title">{{ item.description }} {{ item.name }}</div>
        <div class="item-photo">
          <span nz-icon nzType="camera" nzTheme="outline"></span>
        </div>
        <div class="item-price">
          <div class="price">
            Цена: <b>{{ item.price }}</b> р.
          </div>
          <nz-input-number
            [(ngModel)]="item.bought"
            [nzMin]="1"
            [nzMax]="item.count"
            [nzStep]="1"
          ></nz-input-number>
        </div>

        <div class="item-footer">
          <button nzType="primary" nz-button (click)="buyItem(item)">
            <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>Купить
          </button>
          <span class="quantity"> На складе: {{ item.count }}</span>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="productList.length == 0">
    <div class="empty">Нет данных</div>
  </ng-container>
</ng-container>

<nz-modal
  [(nzVisible)]="isVisibleModal"
  nzOkText="Купить"
  [nzFooter]="null"
  nzTitle="Подтверждение покупки"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <ul>
      <li>
        Название: <b>{{ finalByItem.name }}</b>
      </li>
      <li>
        Описание: <b>{{ finalByItem.description }}</b>
      </li>
      <li>
        Цена: <b>{{ finalByItem.price }} </b>р.
      </li>
      <li>
        Количество: <b>{{ finalByItem.bought }}</b>
      </li>
    </ul>

    <form
      nz-form
      [nzLayout]="'vertical'"
      [formGroup]="orderForm"
      (ngSubmit)="submit()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Введите ваш адрес!">
          <nz-input-group>
            <input
              formControlName="addressTo"
              nz-input
              type="text"
              placeholder="Адрес доставки"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="footer">
            <button nz-button nzType="primary" [disabled]="!orderForm.valid">
              Купить
            </button>

            <div *ngIf="!orderForm.valid && userId == null" >
              Необходимо войти в систему
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
